// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'DM Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #041E4F;
$light: #f3f4f6;
$danger: #df2351;
$white: #ffffff;
$default: rgb(2, 173, 193);

$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;
$carousel-indicator-opacity: .1;

$utilities: (
    "width": (
        property: width,
        class: w,
        values: (
          10: 10%,
          15: 15%,
          20: 20%,
          25: 25%,
          30: 30%,
          35: 35%,
          40: 40%,
          45: 45%,
          50: 50%,
          55: 55%,
          60: 60%,
          65: 65%,
          70: 70%,
          75: 75%,
          80: 80%,
          85: 85%,
          90: 90%,
          95: 95%,
          100: 100%,
          auto: auto
        )
    ),
    "height": (
      property: height,
      class: h,
      values: (
        10: 10%,
        15: 15%,
        20: 20%,
        25: 25%,
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        50: 50%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%,
        auto: auto
      )
    ),
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 6,
  10: $spacer * 8,
);

// $accordion-icon-color: rgb(255, 255, 255);
// $accordion-icon-active-color: rgb(255, 255, 255);
$accordion-border-color: transparent;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .9;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * .775;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  reg: $h6-font-size,
  sm: $font-size-sm * .875,
  xs: $font-size-sm * .675,
);

$nav-link-active-bg:rgba(2, 173, 193, .1);

$text-color: rgb(41, 45, 50, 0.75);
$font-size-small: 10px;
$font-size-normal: 13px;
$font-size-title: 15px;
$font-size-header: 24px;

$blue50: #01122e;
$blue100: #02122F;
$blue200: #03183F;
$blue300: #041E4F;
$blue400: #1D3561;
$blue500: #4F6284;
$blue600: #828FA7;
$blue700: #B4BCCA;
$blue800: #E6E9ED;

$red100: #961434;
$red200: #AF173D;
$red300: #E11E4E;//
$red400: #FB3768;
$red500: #FC6489;
$red600: #FD90AB;
$red700: #FEBCCD;
$red800: #FFE9EE;

$yellow100: #836235;
$yellow200: #AE8247;
$yellow300: #DAA359;
$yellow400: #E1B57A;
$yellow500: #E9C89B;
$yellow600: #F0DABD;
$yellow700: #F8EDDE;
$yellow800: #FBF6EE;

$black100: #000000;
$black200: #323131;
$black300: #4B4949;
$black400: #646262;
$black500: #7D7B7B;
$black600: #AFACAC;
$black700: #E1DDDD;

$google: #DD4B39;
$facebook: #1877F2;


// $form-floating-height:            2.5rem;
// $form-floating-line-height:       .85rem;
// $form-floating-padding-x:         .5rem;
// $form-floating-padding-y:         .75rem;
// $form-floating-input-padding-t:   .25rem;
// $form-floating-input-padding-b:   .25rem;
// $form-floating-label-opacity:     1;
// $form-floating-label-transform:   scale(.85) translateY(-1.75rem) translateX(1.15rem);
// $form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out;