@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

// Variables
@import 'variables';

@import 'global';

@import 'modal';

html, body, #app, #app>div {
    //height: 100% !important;
    background: $light;
}

.guestCarousel {
    display: none;
}

@include media-breakpoint-up(md) {
    .guestCarousel {
        display: flex;
    }
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.form-control-primary{
    background: $primary;
    border: 1px solid rgba(255, 255, 255, .15);
    color: $light !important;

    &::placeholder{
        color: $light !important;
    }

    &:focus{
        background: $primary;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, .3);
    }
}